@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    font-family: Poppins;
    font-size: 72px;
    font-weight: 400;
}

.Title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.3em;
    line-height: 0.8em;
    margin-top: -0.8em;
}

.GithubSource {
    height: 1.1em;
    width: auto;
}

.GithubName {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
}

.GithubAboutMe {
    display: flex;
    position: absolute;
    right: 0.4em;
    top: 0.4em;
    align-items: center;
}

.GithubInfo {
    padding-left: 0.2em;
    font-weight: 200;
}